<ion-modal-view class="modalView ChangeToCustomerModalView">
        <ion-header-bar class="bar bar-header DashboardModalViewHeaderBar">
          <h1 class="title DashboardModalViewHeaderName">Change to Customer</h1>
          <button class="button button-clear button-primary DashboardModalViewHeaderCloseButton" ng-click="PinCodeErrorModal.hide()"><i class="ion-close-round"></i></button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="ChangeToCustomerModalCashAmount">
            <div class="ChangeToCustomerModalAmountArea">
              <div class="ChangeToCustomerModalText">CASH BACK</div>
              <div class="ChangeToCustomerModalValue"><input type="text" class="ChangeToCustomerModalValueText"></input></div>
            </div>
          </div>
          <div>
            <div class="ChangeToCustomerModalButtonGroup">
              <button class="ChangeToCustomerModalNextButton" ng-click="ChangeToCustomerModal.hide(); TransactionDetailModal.show()">NEXT</button>
            </div>
          </div>
        </ion-content>
</ion-modal-view>