<ion-view view-title="Congratlation">
	<ion-content class="congratlation">
		<div class="appNavBar"></div>
		<i class="ion-android-menu appMenu"></i>
		<i class="ion-android-search searchIcon"></i>
	  	<i class="ion-android-more-vertical verticalMenuIcon"></i>	  
	  	<div class="congratlationSmileIcon"></div>	
	  	<div class="congratlationLabel">Congratlations!</div>
	  	<div class="congratlationGuide">You Are Now Successfully Registered. Welcome to mKTB Merchant Services</div>
	  	<button type="button" class="congratlationNextButton" ng-click="onGoToKtbLogin()">NEXT &gt;</button>
	</ion-content>
</ion-view>