<ion-modal-view class="modalView InventoryManagerProductSubMenuModalView" ng-style="InventoryManagerProductSubMenuModalViewStyle">
    <div class="list InventoryManagerProductSubMenu">
      <a class="item" href="#" ng-style="InventoryManagerProductSubMenuStyle1" ng-click="InventoryManagerProductSubMenuStyle1={'color': '#229af0'}; InventoryManagerProductSubMenuModal.hide()">
        Add Product
      </a>
      <a class="item" href="#" ng-style="InventoryManagerProductSubMenuStyle2" ng-click="InventoryManagerProductSubMenuStyle2={'color': '#229af0'}; InventoryManagerProductSubMenuModal.hide(); EditProductModal.show()">
        Edit Product
      </a>
      <a class="item" href="#" ng-style="InventoryManagerProductSubMenuStyle3" ng-click="InventoryManagerProductSubMenuStyle3={'color': '#229af0'}; InventoryManagerProductSubMenuModal.hide()">
        Change Quantities
      </a>
      <a class="item" href="#" ng-style="InventoryManagerProductSubMenuStyle4" ng-click="InventoryManagerProductSubMenuStyle4={'color': '#229af0'}; InventoryManagerProductSubMenuModal.hide(); MarkAsDamagedModal.show()">
        Mark As Damaged
      </a>
      <a class="item" href="#" ng-style="InventoryManagerProductSubMenuStyle5" ng-click="InventoryManagerProductSubMenuStyle5={'color': '#229af0'}; InventoryManagerProductSubMenuModal.hide(); DeleteProductModal.show()">
        Remove Product
      </a>
    </div>
</ion-modal-view>