<ion-view view-title="KtbAddingProduct">
	<ion-content class="ktbAddingProduct">
		<div class="AddingProductContentArea"></div>
		<div class="addingProductLabel">Adding Product</div>
		<i class="ion-close-round AddingProductCloseButton"></i>
		<button class="AddingProductUploadButton" ng-click="onGoToKtbGallery()">
			<i class="ion-upload uploadIcon"></i> Upload from gallery
		</button>
		<button class="takeButton" >
			<i class="ion-camera takeIcon"></i> Take picture
		</button>
	</ion-content>
</ion-view>