<ion-view view-title="KtbCardCheckOut">
	<ion-content class="ktbCardCheckOut">
	  	<div class="CardCheckContentArea">
	  		<div class="CardCheckAddProductArea">
	  			<div class="CardCheckHowToPayLabel">How would you like to pay?</div>
	  			<div class="CardCheckPaymentMethod">
	  				<div class="CardCheckCardImage">
	  				</div>
	  			</div>
	  		</div>
	  		<div class="CardCheckItemCheckOutArea">
	  			<div class="CardCheckItemCheckOutAreaTitle">
	  				<p class="CardCheckItemsLabel">ITEMS</p>
	  				<p class="CardCheckCartLabel">Cart (3)</p>
	  				<p class="CardCheckAmountLabel">AMOUNT</p>
	  			</div>
	  			<div class="CardCheckItemsArea">
	  				<div class="list" style="">
	  					<a class="item CardCheckItemRow" href="#">
						    <div class="CardCheckItemAreaProductImage"></div>
						    <p class="CardCheckItemAreaProductNameLabel">EddoGalleryAlbum</p>
						    <p class="CardCheckItemAreaProductPrice">$62.00</p>
						    <i class="ion-ios-trash-outline CardCheckItemAreaDeleteIcon"></i>
					    </a>
					</div>
	  			</div>
	  			<div class="CardCheckTotalBudgetArea">
	  				$0.00
	  			</div>
	  			<div class="CardCheckChargeButton" ng-click="SwipeCardErrorModal.show()">
	  				<p class="CardCheckChargeButtonLabel">CHARGE</p>
	  			</div>
	  		</div>
	  	</div>
	</ion-content>
</ion-view>