<ion-view view-title="KtbGalleryLoading">
	<ion-content class="ktbGalleryLoading">
		<div class="GalleryLoadingContentArea"></div>
		<div class="galleryLabel">Gallery</div>
		<i class="ion-close-round GalleryLoadingCloseButton"></i>
		<div class="loadingIconArea"><i class="ion-load-a loadingIcon" ng-click="onGoToKtbProductDetail()"></i><!--ion-spinner icon="bubbles"></ion-spinner--></div>
		<div class="galleryUploadingComment" ng-click="onGoToKtbProductDetail()">UPLOADING PLEASE WAIT...</div>
	</ion-content>
</ion-view>