<ion-view view-title="KtbGallery">
	<ion-content class="ktbGallery">
		<div class="GalleryContentArea"></div>
		<div class="galleryLabel">Gallery</div>
		<i class="ion-close-round GalleryCloseButton"></i>
		<div class="GalleryProductsArea">
			<div class="row row-center GalleryRow">
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
			</div>
			<div class="row row-center GalleryRow">
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
			</div>
			<div class="row row-center GalleryRow">
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
				<div class="col GalleryCol">ADD PRODUCT</div>
			</div>
		</div>
		<button class="uploadButton" ng-click="onGoToKtbGalleryLoading()">
			UPLOAD NOW
		</button>
	</ion-content>
</ion-view>