<ion-view view-title="KtbInsertCard">
	<ion-content class="ktbInsertCard">
	  	<div class="InsertCardContentArea">	  	
	  		<div class="InsertCardAddProductArea">
	  			<div class="CheckOutHowToPayLabel">Insert Card</div>
	  			<div class="CheckOutPaymentMethod">
	  				<div class="InsertCardImage">
	  				</div>
	  			</div>
	  		</div>
	  		<div class="InsertCardItemCheckOutArea">
	  			<div class="InsertCartCheckOutAreaTitle">
	  				<p class="InsertCardItemsLabel">ITEMS</p>
	  				<p class="InsertCardCartLabel">Cart (3)</p>
	  				<p class="InsertCardAmountLabel">AMOUNT</p>
	  			</div>
	  			<div class="InsertCardItemsArea">
	  				<div class="list" style="">
	  					<a class="item InsertCardItemRow" href="#">
						    <div class="InsertCardItemAreaProductImage"></div>
						    <p class="InsertCardItemAreaProductNameLabel">EddoGalleryAlbum</p>
						    <p class="InsertCardItemAreaProductPrice">$62.00</p>
						    <i class="ion-ios-trash-outline InsertCardItemAreaDeleteIcon"></i>
					    </a>
					</div>
	  			</div>
	  			<div class="InsertCardTotalBudgetArea">
	  				$0.00
	  			</div>
	  			<div class="CheckOutChargeButton" ng-click="PinCodeErrorModal.show()">
	  				<p class="CheckOutChargeButtonLabel">CHARGE</p>
	  			</div>
	  		</div>
	  	</div>
	</ion-content>
</ion-view>