<ion-view view-title="KtbLoginSuccess">
	<ion-content class="ktbLoginSuccess">
		<div class="appNavBar"></div>
		<i class="ion-android-menu appMenu"></i>
		<i class="ion-android-search searchIcon"></i>
	  	<i class="ion-android-more-vertical verticalMenuIcon"></i>	  	
	  	<div class="ktbLoginSuccessIconContainer">
	  		<i class="ion-checkmark-circled ktbLoginSuccessLogo" ng-click="onGoToKtbProductBoxes()"></i>
	  	</div>
	  	<div class="ktbLoginSuccessLabel">LOGIN SUCCESSFULLY</div>
	</ion-content>
</ion-view>