<ion-view view-title="Login">
	<ion-content class="login">
    	<div class="loginContent">
			<div class="appNavBar"></div>
			<i class="ion-android-menu appMenu" ng-click="toggleLeft()"></i>
			<i class="ion-android-search searchIcon"></i>
		  	<i class="ion-android-more-vertical verticalMenuIcon"></i>	  	
		  	<div class="loginLockIcon"></div>
		  	<div class="loginGuideText1">PLEASE ENTER THE USER ID &amp TEMPORARY PASSWORD</div>
		  	<div class="loginGuideText2">PROVIDED TO YOU BY KTB DURING MERCHANT ACCOUNT SIGNUP PROCESS</div>
		  	<div class="loginEnterUID">ENTER USER ID</div>
		  	<div class="loginUIDTextArea"><input type="text" class="loginUIDText"></input></div>
		  	<div class="loginEnterPassWord">ENTER TEMPORARY PASSWORD</div>
		  	<div class="loginPassWordTextArea"><input type="text" class="loginPassWordText"></input></div>
		  	<button type="button" ng-click="onGoToTerms()" class="loginNextButton">NEXT &gt;</button>
		</div>
	</ion-content>
</ion-view>