<ion-view view-title="SetPassWordStyle">
	<ion-content class="setPassWordStyle">
		<div class="appNavBar"></div>
		<i class="ion-android-menu appMenu"></i>
		<i class="ion-android-search searchIcon"></i>
	  	<i class="ion-android-more-vertical verticalMenuIcon"></i>	  	
	  	<div class="setPassWordLockIcon"></div>
	  	<div class="setPassWordGuide">SETUP PASSWORD</div>
	  	<div class="setPassWordLabel">PASSWORD</div>
	  	<div class="setPassWordPassWordTextArea"><input type="password" class="setPassWordPassWordText" ng-change="PassWordChanged(passwordText)" ng-model="passwordText"></input></div>
	  	<i class="ion-checkmark-circled setPassWordCheckMark" ng-show="setPassWordTyped"></i>
	  	<button type="button" class="setPassWordNextButton" ng-click="onGoToCongratlation()" class="loginNextButton">NEXT &gt;</button>
	</ion-content>
</ion-view>