.CheckOutHowToPayLabel {
	background-color: #dcdcdc;
	display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
                -moz-box-direction: normal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-box-pack: center;
                -moz-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                align-content: stretch;
                -webkit-box-align: center;
                -moz-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	color: #9b9b9b;
	height: 9.36%;
	font-size: 20px;
}

.CheckOutContentArea {
	padding-top: 29px;
	display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
	display: flex;
	position: absolute;
	top: 0%;
	height: 100%;
	width: 100%;
	background-color: #f4f8fb;
}

.CheckOutAddProductArea {
		-webkit-box-flex: 58;
        -moz-box-flex: 58;
        -webkit-flex: 58;
        -ms-flex: 58;
    	flex: 58;
    	height: 100%;
    	padding-left: 1.1%;
    	padding-bottom: 1.77%;
}

.CheckOutItemCheckOutArea {
		-webkit-box-flex: 42;
          -moz-box-flex: 42;
          -webkit-flex: 42;
          -ms-flex: 42;
    	flex: 42;
    	height: 100%;
    	padding-left: 0.9%;
    	padding-right: 1.1%;
}

.CheckOutAddProductButton {
	width: 18.1%;
	height: 5.52%;
	background-color: #229af0;
	color: white;
	float: right;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	margin-right: 2%;
	-webkit-box-direction: normal;
            -moz-box-direction: normal;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-box-align: center;
            -moz-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

.CheckOutAddProductButtonLabel {
	font-size: 15px;
	color: white;
	margin: 0px;
}

.CheckOutProductsArea {
	height: 94.48%;
	width: 100%;
	padding-top: 2.56%;
}


.CheckOutChargeButton {
display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
            -moz-box-direction: normal;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-box-align: center;
            -moz-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
	justify-content: center;
	align-items: center;
	background-color: #229af0; 
	width: 100%;
	height: 10.72%;
}

.CheckOutChargeButtonLabel {
	font-size: 20px;
	color: white;
	margin: 0px;
}

.CheckOutTotalBudgetArea {
	height: 8.76%;
	width: 100%;
	display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
                -moz-box-direction: normal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-box-pack: center;
                -moz-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                align-content: stretch;
                -webkit-box-align: center;
                -moz-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	background-color: white;
}


.CheckOutItemAreaProductImage {
	display: inline;
	background-image: url('../img/MiuraApp/product_sampleImage.png');
    background-size: 100% 100%;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 5px;
	 top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: TRANSLATEY(-50%);
            position: absolute;
}

.CheckOutItemAreaProductPrice {
	display: inline;
	margin: 0;
	font-size: 20px;
	 top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: TRANSLATEY(-50%);
            position: absolute;
            right: 40px;
}

.CheckOutItemAreaDeleteIcon {
	display: inline;
	margin-left: 5px;
	color: #229af0;
	 top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: TRANSLATEY(-50%);
     position: absolute;
     right: 20px;
}

.CheckOutItemAreaProductNameLabel {
	display: inline;
	margin: 0;
	left: 60px;
	font-size: 15px;
	 top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: TRANSLATEY(-50%);
            position: absolute;
}

.CheckOutItemsArea {
	height: 75%;
	width: 100%;
	background-color: white;
}


.item p {
	margin: 0;
}

.CheckOutItemRow {
	height: 60px;
	margin: 4px;
	width: 100%;
	border: 0px;
    border-bottom: 1px solid #b0b0b0;
}

.CheckOutItemCheckOutAreaTitle {
    position: relative;
	width: 100%;
	background-color: white;
	height: 5.52%;
    display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
	display: flex;
	border-bottom: 1px solid #b0b0b0;
	font-size: 15px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: flex-start;
        -moz-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    color: #b0b0b0;
    padding-left: 10px;
    padding-right: 70px;
}

.CheckOutItemsLabel {
 position: absolute;
    top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: TRANSLATEY(-50%);
}

.CheckOutAmountLabel {
    position: absolute;
    top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: TRANSLATEY(-50%);
}

.CheckOutCartLabel {
	margin: auto 0;
	color: #229af0;
	-webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
	flex: 1;
	text-align: center;
    margin-left: 10px;
}


.CheckOutPaymentMethod {
	padding: 10px;
	background-color: white;
	height: 94.4%;
}

.iKTBPayButton {
display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
            -moz-box-direction: normal;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-box-align: center;
            -moz-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	width: 100%;
	height: 31%;
	margin-bottom: 10px;
}

.iKTBPayButtonLabel {
	background-image: url('../img/MiuraApp/checkOut_iKTBPayButton.png');
    background-size: 100% 100%;
	width: 101px;
	height: 92px;
}

.miuraTerminalButton {
display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
            -moz-box-direction: normal;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-box-align: center;
            -moz-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	width: 100%;
	height: 31%;
	margin-bottom: 10px;
	border: 1px solid #e1e1e1;
}

.miuraTerminalButtonLabel {
	background-image: url('../img/MiuraApp/checkOut_miuraTerminalButton.png');
    background-size: 100% 100%;
	width: 158px;
	height: 86px;
}

.byCashButton {
display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
            -moz-box-direction: normal;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-box-pack: center;
            -moz-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-content: stretch;
            -ms-flex-line-pack: stretch;
            align-content: stretch;
            -webkit-box-align: center;
            -moz-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
	justify-content: center;
	align-items: center; 
	border-radius: 3px;
	width: 100%;
	height: 31%;
	margin-bottom: 10px;
	border: 1px solid #e1e1e1;
}

.byCashButtonLabel {
	background-image: url('../img/MiuraApp/checkOut_byCashButton.png');
    background-size: 100% 100%;
	width: 83px;
	height: 84px;
}

.selectedPaymentButton {
	background-color: #229af0; 
}

.unselectedPaymentButton {
	background-color: #f3f3f3; 
}