.PinCodeErrorModalView {
	width: 650px;
	height: 390px;
	margin: 0 auto;
}

.PinCodeErrorModalLoadingArea {
	margin-top: 40px;
}

.PinCodeErrorModalLoadingIcon {
	background-image: url('../img/MiuraApp/paymentUnsuccessfulModal_warningIcon.png');
	width: 160px;
	height: 150px;
    background-size: 100% 100%;
    margin: 0 auto;
}

.PinCodeErrorModalGuide {
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
	color: #b0b0b0;
}

.PinCodeErrorModalButtonGroup {
	text-align: center;
	margin-top: 30px;
}

.PinCodeErrorModalCancelButton {
	background-color: #229af0;
	font-size: 15px;
	border: 0px;
    color: white;
    width: 91px;
    height: 31px;
    border-radius: 3px;
}