.setPassWordLockIcon {
	background-image: url('../img/MiuraApp/loginScreen_lock.png');
	width: 3.6%;
    height: 6.3%;
    top: 32.78%;
    left: 48.2%;
    position: absolute;
    background-size: 100% 100%;
}

.setPassWordGuide {
	text-align: center;
	width: 100%;
	top: 43.7%;
	position: absolute;
	font-size: 18px;
	color: #6fb3d2;
}

.setPassWordLabel {
	width: 100%;
	top: 54%;
	left: 19.8%;
	position: absolute;
	font-size: 13px;
	color: #afafaf;
}

.setPassWordNextButton {
	border-radius: 3px;
	background-color: #6fb3d2; 
	width: 100%;
	height: 7%;
	top: 67.33%;
	width: 15%;	
	left: 42.5%;
	position: absolute;
	border: 0px;
    color: white;
    font-size: 18px;
}

.setPassWordPassWordText {
	width: 100%;
	font-size: 20px;
}

.setPassWordPassWordTextArea {
	position: absolute;
	left: 19.8%;
	width: 60.4%;
	top: 57%;
	border-bottom: 1px solid #d1d3d3;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.setPassWordCheckMark {
	font-size: 20px;
	position: absolute;
	right: 19.8%;
	top: 58%;
	color: #74d559;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-size: 20px;
	border: 3;
}